<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">

    <parameter name="createdataName" value="${createdataName}"/>
    <parameter name="testString" value="${testString}"/>

    <test verbose="2" preserve-order="true" name="CICD tet">
        <classes>
            <class name=" test.cicd.project.runTest">
                <methods>
                    <include name="testcase1"/>
                    <include name="testcase2"/>
                    <include name="testcase3"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>