<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <parameter name="createdataName" value="${LoginUser}"/>
    <parameter name="createdataName" value="${Password}"/>
    <parameter name="testString" value="${testString}"/>
    <test verbose="2" preserve-order="true" name="D:/pipeline/src/test/java/test/cicd/project/runTest.java">
        <classes>
            <class name="test.cicd.project.runTest">
                <methods>
                    <include name="testcaseparam"/>
                    <include name="csvAttachmentTest"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>